##Knowlwdge Check - 1

### Printing output

1 - Using print(), print your name and city following the format:

        Name : Angela
        City : New York

In [3]:
name = "Jammie"
city = "New York"

print(f"Name : {name}\nCity : {city}")

Name : Jammie
City : New York

2 - Print the message below

     Emergency Alert
     NEWS : FLASH FLOOD WARNING this area till 7:00 PM

In [4]:
print("Emergency Alert")
print("NEWS : FLASH FLOOD WARNING this area till 7:00 PM")

Emergency Alert
NEWS : FLASH FLOOD WARNING this area till 7:00 PM

### Arithmetic Operators and Variables

3 - Take a number and divide it by 2, then take the output and divide it by 2, and again divide by 2. Use variables.


    Example
    input : 2000
    output is: 1000 500 250

In [9]:
num = int(input("Please enter a number: "))
print(f"input : {num}")

print(f"output : ", end= "")
for _ in range(3):
  num /= 2
  print(f"{int(num)}", end=" ")

Please enter a number: 2000
input : 2000
output : 1000 500 250

4 - Given three number x, y, and z,


       Output: x to the power of z,
               x to the power of y,
               x minus y,
               remainder value when x is divided by z

In [11]:
x = int(input("Enter a number : "))
y = int(input("Enter another number : "))
z = int(input("Enter and another number : "))

print(f"\nOutput: {x**z},\n\t{x**y}\n\t{x - y}\n\t{x % z}")

Enter a number : 100
Enter another number : 3
Enter and another number : 5

Output: 10000000000,
	1000000
	97
	0

5 - Add

        4 quarters (0.25),  3 dimes (0.10), 2 nickels (0.5) and 1 cent
        Output:  the total amount as dollars and cents.

In [12]:
print(f"Total amount: {(4*0.25) + (3*0.10) + (2*0.5) + 0.1}")

Total amount: 2.4

### Strings

6 - Given the string **Python**, with the help of slicing, get **o**.

In [14]:
word = "Python"

letter_o = word[4:5]

print(letter_o)

o

7 - Given the string **Python**, with the help of slicing get,  **tho**.

In [15]:
word = "Python"

tho = word[2:5]

print(tho)

tho

8 - Given the string **Python Class**, with the help of slicing, get **Class**.

In [16]:
word = "Python Class"

sub = word[7:]

print(sub)

Class

9 - Find the length of the String  **Welcome to Pace University**

In [19]:
str_word = "Welcome to Pace University"

print(f"Length of '{str_word}' : {len(str_word)}")

Length of 'Welcome to Pace University' : 26

10 - Split the String  **Welcome to Pace University**  into words

In [20]:
str_word = "Welcome to Pace University"
print(f"{str_word.split()}")

['Welcome', 'to', 'Pace', 'University']

11 - Replace the letter  **i**  with  **o**  in  **Artificial intelligence**

In [23]:
str_word = "Artificial intelligence"
print(f"{str_word.replace('i', 'o')}")

Artofocoal ontellogence

12 - convert the text  **DATA Science**  into lower case ( as **data science**)

In [24]:
word = "DATA Science"
print(f"{word.lower()}")

data science

13 - convert the text  **DATA Science**  into UPPER case ( as **DATA SCIENCE**)

In [25]:
word = "DATA Science"

print(f"{word.upper()}")

DATA SCIENCE

14 - reverse the given String  **Artificial intelligence**

In [26]:
word = "Artificial intelligence"

print(f"{word[::-1]}")

ecnegilletni laicifitrA

###Comparision Operators

15 - Compare two number a =150, b = 225 and print if they are:

        equal,
        greater,
        greater than or equal to,
        less,
        less than or equal to,  
        not equal
       
        example : a < b
                  print("a is less than b")

In [31]:
a = 226
b = 225

if a > b:
  print("a is greater than b")
elif a < b:
  print("a is less than b")
elif a > b and a == b:
  print("a is greater than or equal to b")
elif a < b and a == b:
  print("a is less than or equal to b")
elif a != b:
  print("a is not equal to b")
else:
  print("a is equal to b")

a is greater than b

###Lists

16 - Create a **list** of **lists** of integers elements

In [34]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = [7,8,9]

list_of_lists = [list1] + [list2] + [list3]

print(list_of_lists)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

17 - Create a **list** of **lists** of Text elements

In [35]:
list1 = ['pie', 'prop', 'loop']
list2 = ['food', 'true', 'loom']
list3 = ['hi', 'bye', 'grow']

list_of_lists = [list1] + [list2] + [list3]

print(list_of_lists)

[['pie', 'prop', 'loop'], ['food', 'true', 'loom'], ['hi', 'bye', 'grow']]