##Knowlegde Check - 2

## Question# 1

Points : 5 *italicized text*

Write a function that returns the smallest of two even numbers, if both numbers are even and, the greater if one or both numbers are odd
   
                   lesser_of_two_evens(2,4) --> 2
                   lesser_of_two_evens(2,5) --> 5

In [2]:
def smallest_of_two_evens(a,b):
    #Write code here!
    if a % 2 == 0 and b % 2 == 0:
      if a < b:
        return a
      else:
        return b

    if a % 2 != 0 or b % 2 != 0:
      if a > b:
        return a
      else:
        return b

In [3]:
# Check1
print(smallest_of_two_evens(2,4))

2

In [4]:
# Check2
print(smallest_of_two_evens(2,5))

5

## Question# 2

Points : 5

Write a function takes a two-word string and returns True if both words begin with same letter.

            word_crackers('Lion', 'Lady') --> True
            word_crackers('Crazy', 'Drink') --> False

In [1]:
def word_crackers(word1,word2):
    #Write code here!
    if word1[0] == word2[0]:
      return True
    else: return False

In [3]:
# Check1
word_crackers('Lion', 'Lady')

True

In [4]:
# Check2
word_crackers('Crazy', 'Drink')

False

## Question# 3

Points : 5

Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    sum_twenty(20,10) --> True
    sum_twenty(12,8) --> True
    sum_twenty(2,3) --> False

In [6]:
def sum_twenty(n1,n2):
    #Write code here!
    if (n1 + n2) == 20 or n1 == 20 or n2 == 20:
      return True
    else: return False

In [7]:
# Check1
sum_twenty(20,10)

True

In [8]:
# Check2
sum_twenty(2,3)

False

## Question# 4

Points : 5

Write a function that capitalizes the first and fourth letters of a name
     
    cap_first_four('macdonald') --> MacDonald

In [10]:
def cap_first_four(name):
    #Write code here!
    str_list = list(name)
    str_list[0] = str_list[0].upper()
    str_list[3] = str_list[3].upper()

    return ''.join(str_list)

In [11]:
# Check
cap_first_four('macdonald')

'MacDonald'

## Question# 5

Points : 5

Given a sentence, return a sentence with the words reversed

    rev_words('I am home') --> 'home am I'
    rev_words('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join.

    " ".join(['Hello','world'])
    "Hello world"

In [60]:
def rev_words(text):
    #Write code here!
    text = text.split()

    return ' '.join(text[::-1])

In [61]:
# Check1
rev_words('I am home')

'home am I'

In [62]:
# Check2
rev_words('We are ready')

'ready are We'

## Question# 6

Points : 5

Given an integer n, return True if n is nearest to either 100 or 200 with the difference of upto 10.

    nearest_num(90) --> True
    nearest_num(104) --> True
    nearest_num(150) --> False
    nearest_num(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [28]:
def nearest_num(n):
    #Write code here!

    if n >= 100 and n <= (100 + 10):

      if (100 % n) == 100 and abs((n - (100 % n))) <= 10:
        return True
      else: return False

    elif n >= 200 and n <= (200 + 10):

      if (200 % n) == 200 and abs((n - (200 % n))) <= 10:
        return True
      else: return False

    else: return False

In [29]:
# Check1
nearest_num(104)

True

In [30]:
# Check2
nearest_num(150)

False

In [31]:
# Check3
nearest_num(209)

True

## Question# 7

Points : 5

Given a list of ints, return True if the list contains a same numeric value next.

    contains_two_samevalues([1, 3, 3]) → True
    contains_two_samevalues([1, 3, 1, 3]) → False
    contains_two_samevalues([3, 1, 3]) → False

In [146]:
def contains_two_samevalues(nums):
    #Write code here
    for i in nums:
      if i + 1 < len(nums):
        if nums[i] == nums[i+1]:
          return True
        else: return False

In [149]:
# Check1
contains_two_samevalues([1, 3, 3])

True

In [148]:
# Check2
contains_two_samevalues([1, 3, 1, 3])

False

In [147]:
# Check3
contains_two_samevalues([3, 1, 3])

False

## Question# 8

Points : 5

Given a string, return a string where for every character of the string appears 3 time.

    repeat_three('Hello') --> 'HHHeeellllllooo'
    repeat_three('Mississippi') --> 'MMMiiissssssiiissssssiiippppppiii'

In [25]:
def repeat_three(text):
    #write code here
    text = list(text)
    new_text = []

    for i in text:
        new_text.append(i*3)

    return ''.join(new_text)

In [26]:
# Check1
repeat_three('Hello')

'HHHeeellllllooo'

In [27]:
# Check2
repeat_three('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

## Question# 9

Points : 5

Write a function that returns the *number* of prime numbers that exist up to and including a given number

    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [50]:
import math

def is_prime(num):
    if num <= 1:
        return False

    for i in range(2, int(math.sqrt(num)) + 1):
        if num % i == 0:
            return False
    return True

def count_primes(num):
    #Write code here
    count = 0

    for n in range(2, num):
      if is_prime(n):
        count += 1


    return count

In [51]:
# Check1
count_primes(100)

25